.thank-you-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #f7f7f7;
    color: #333; 
    font-family: 'Arial', sans-serif;
  }
  
  .thank-you-container h1 {
    color: #0047AB; 
    font-size: 3rem; 
    margin-bottom: 20px;
  }
  
  .thank-you-container p {
    font-size: 1.25rem; 
    line-height: 1.6;
    max-width: 600px;
    text-align: center;
    margin-bottom: 10px;
  }

  .formWrapper {
    display: flex;
    gap: 20px;
  }

  .nameInput {
    width: 260px;
  }

  .emailInput {
    width: 300px;
  }

  .image {
    height: 310px;
  }

  @media (max-width: 428px) {
    .formWrapper {
      flex-direction: column;
      align-items: center;
    }

  }
  